# All the build directories
*build*

#But i want the workflow files
!.github/workflows/build.yml
!.github/workflows/dev-build.yml
!buildconfig

#.idea directory
.idea

# test tmp folder
/tests/testdata/tmp/
